@model IEnumerable<Entidades.Alumnos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.primerApellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.segundoApellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.correo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaNacimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.curp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idEstadoOrigen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idEstatus)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.primerApellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.segundoApellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaNacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.curp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estados.nombre)
            </td>
            <td>
                @Html.RadioButtonFor(modelItem => item.idEstadoOrigen, new { @class = "form-control" })
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @*@Html.ActionLink("Details", "Details", new { id=item.id }) |*@
                <a onclick="VistaParcial(@item.id)">Detalle parcial</a> |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>

<div class="modal" id="ventanaModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Encabezado Modal -->
            <div class="modal-header">
                <h4 class="modal-title">Detalle Alumno</h4>           
            </div>
            <!-- Curepo de la Modal -->
            <div class="modal-body" style="display:flex; align-items:center; justify-content:center; " id="cuerpoModal">
                <p id="Modal">Parrafo de Prueba</p>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">              
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>

        </div>
    </div>
</div>

@{


    <script>
        function VistaParcial(id) {
           
            var url = "@Url.Action("DetalleParcial","Alumno")";
            var urlCompleto = url + "/" + id;
           
            llamadoAjaxGEThtml(urlCompleto, exito);
        }

        function exito(respuesta) {
            //jquery
            $("#cuerpoModal").html(respuesta);
            $("#ventanaModal").modal('show');
        }

    </script>
}